<% if session[:error] %>
    <p class="message"><%= session.delete(:error) %></p>
<% end %>
<form action="/new" method="post">
  <label for="filename">New document name</label>
  <input type="text" name="filename">
  <button type="submit">Create Document</button>
</form>